:root {
  --text-color: #000;
  --primary: #143975;
  --light-primary: #375b96;
  --secondary: #ffa033;
  --border-radius: 0.375rem;
}

html {
  font-size: 16px;
}

body {
  color: var(--text-color);
  font-size: 0.875rem;
  font-weight: 300;
  background: #f9f9f9;
}

.dashboard-container {
  display: flex;
  position: relative;
}

.dashboardArea {
  width: 100%;
}

.dashboardBodyArea {
  padding: 2.5rem 2rem;
}
