.breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.breadcrumb > li > a {
  position: relative;
  display: inline-block;
  padding-right: 1rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.breadcrumb > li:not(:last-child) > a {
  opacity: 0.4;
}

.breadcrumb > li:not(:first-child) > a {
  padding-left: 0.75rem;
}

.breadcrumb > li:not(:last-child) > a::before {
  content: "/";
  position: absolute;
  right: 0;
}
